@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply border-gray-200;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-gray-950;
}

a {
  @apply text-blue-600 hover:text-blue-700 underline;
}

button,
input,
select,
textarea {
  font-family: inherit;
}
